/* Base */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  background-color: #4072b5;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  color: #2a7ae2;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

a:visited {
  color: #205caa;
}

/* Utility */

.wrap {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  background-color: #fdfdfd;
  border-radius: 5px;
}


/* Layout Styles */

.site-header {
  background-color: #4072b5;
  padding: 10px 0;
}

.site-title,
.site-title:hover,
.site-title:visited {
  display: block;
  color: #333;
  font-size: 1.625rem;
  line-height: 56px;
  text-align: center;
}

.site-nav {
  text-align: center;
  line-height: 36px;
  margin-top: 10px;
}

.site-nav .trigger {
  display: block;
}

.site-nav .page-link {
  margin: 0 10px;
  color: #727272;
}

.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
}

.footer-heading {
  font-size: 1.125rem;
  font-weight: 300;
  margin-bottom: 15px;
}

.site-footer .column {
  margin-bottom: 15px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3 {
  width: 100%;
}

.site-footer ul {
  list-style: none;
}

.site-footer li,
.site-footer p {
  font-size: 0.9375rem;
  color: #828282;
}

/* Page Content styles */

.page-content {
  padding: 30px 0;
  background-color: #fff;
}


/* Home styles */

.home h1 {
  margin-bottom: 25px;
}

.posts {
  list-style-type: none;
}

.posts li {
  margin-bottom: 30px;
}

.posts .post-link {
  font-size: 1.5rem;
  line-height: 1;
  font-weight: bold;
}

.posts .post-date {
  display: block;
  font-size: 0.9375rem;
  color: #818181;
}


/* Post styles */

.post-header {
  margin: 10px 0 30px;
}

.post-header h1 {
  font-size: 2.625rem;
  line-height: 1.1;
  font-weight: 300;
}

.post-header .meta {
  font-size: 0.9375rem;
  color: #818181;
  margin-top: 5px;
}

.post-content {
  margin: 0 0 30px;
}

.post-content>* {
  margin: 20px 0;
}

.post-content h2 {
  font-size: 2rem;
}

.post-content h3 {
  font-size: 1.625rem;
}

.post-content h4 {
  font-size: 1.25rem;
}

.post-content blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 20px;
  font-size: 1.125rem;
  font-style: italic;
  margin: 30px 0;
  color: #666;
}

.post-content ul,
.post-content ol {
  padding-left: 20px;
}

.post pre,
.post code {
  border: 1px solid #d5d5e9;
  background-color: #eef;
  padding: 8px 12px;
  border-radius: 3px;
  font-size: 0.9375rem;
  overflow: auto;
}

.post code {
  padding: 1px 5px;
}

/* Syntax highlighting styles (Grade A - just colors and weights) */

.highlight {
  background: #ffffff;
}

.highlight .c {
  color: #999988;
  font-style: italic
}

.highlight .err {
  color: #a61717;
  background-color: #e3d2d2
}

.highlight .k {
  font-weight: bold
}

.highlight .o {
  font-weight: bold
}

.highlight .cm {
  color: #999988;
  font-style: italic
}

.highlight .cp {
  color: #999999;
  font-weight: bold
}

.highlight .c1 {
  color: #999988;
  font-style: italic
}

.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic
}

.highlight .gd {
  color: #000000;
  background-color: #ffdddd
}

.highlight .ge {
  font-style: italic
}

.highlight .gr {
  color: #aa0000
}

.highlight .gh {
  color: #999999
}

.highlight .gi {
  color: #000000;
  background-color: #ddffdd
}

.highlight .go {
  color: #888888
}

.highlight .gp {
  color: #555555
}

.highlight .gs {
  font-weight: bold
}

.highlight .gu {
  color: #aaaaaa
}

.highlight .gt {
  color: #aa0000
}

.highlight .kc {
  font-weight: bold
}

.highlight .kd {
  font-weight: bold
}

.highlight .kp {
  font-weight: bold
}

.highlight .kr {
  font-weight: bold
}

.highlight .kt {
  color: #445588;
  font-weight: bold
}

.highlight .m {
  color: #009999
}

.highlight .s {
  color: #d14
}

.highlight .na {
  color: #008080
}

.highlight .nb {
  color: #0086B3
}

.highlight .nc {
  color: #445588;
  font-weight: bold
}

.highlight .no {
  color: #008080
}

.highlight .ni {
  color: #800080
}

.highlight .ne {
  color: #990000;
  font-weight: bold
}

.highlight .nf {
  color: #990000;
  font-weight: bold
}

.highlight .nn {
  color: #555555
}

.highlight .nt {
  color: #000080
}

.highlight .nv {
  color: #008080
}

.highlight .ow {
  font-weight: bold
}

.highlight .w {
  color: #bbbbbb
}

.highlight .mf {
  color: #009999
}

.highlight .mh {
  color: #009999
}

.highlight .mi {
  color: #009999
}

.highlight .mo {
  color: #009999
}

.highlight .sb {
  color: #d14
}

.highlight .sc {
  color: #d14
}

.highlight .sd {
  color: #d14
}

.highlight .s2 {
  color: #d14
}

.highlight .se {
  color: #d14
}

.highlight .sh {
  color: #d14
}

.highlight .si {
  color: #d14
}

.highlight .sx {
  color: #d14
}

.highlight .sr {
  color: #009926
}

.highlight .s1 {
  color: #d14
}

.highlight .ss {
  color: #990073
}

.highlight .bp {
  color: #999999
}

.highlight .vc {
  color: #008080
}

.highlight .vg {
  color: #008080
}

.highlight .vi {
  color: #008080
}

.highlight .il {
  color: #009999
}


/* media queries */

@media screen and (max-width: 600px) {

  .site-nav {
    background-color: transparent;
    border: none;
  }

  .site-nav .trigger {
    display: block;
    text-align: center;
  }

  .site-nav .page-link {
    display: block;
    line-height: 1.5;
    padding: 10px 0;
  }
}