<footer class="footer">
    <p>Sauf indication contraire, le contenu du site est sous licence CC BY-SA 4.0.</p>
    <p>Cette page a été crée avec l'interface utilisateur (UI) par défaut d'Antora. Le code source de cette UI est sous licence MPL-2.0.</p>
</footer>